

<section class="elementor-element elementor-element-5e41921 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="5e41921" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}" style="width: 2031px; left: -496.094px;">
    <div class="elementor-container elementor-column-gap-wider">
        <div class="elementor-row">
            <div class="elementor-element elementor-element-cf8cf65 elementor-column elementor-col-100 elementor-top-column" data-id="cf8cf65" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-c1dcfa9 elementor-widget elementor-widget-text-editor" data-id="c1dcfa9" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-text-editor elementor-clearfix">
                                    <f:for each="{children_214}" as="record">

                                        <f:format.raw>
                                            {record.bodytext}
                                        </f:format.raw>                                   
                                    
                                    </f:for>
                            </div>
                        </div>
                  
                  
   
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>