

<section class="elementor-element elementor-element-5adccfd elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="5adccfd" data-element_type="section">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
            <div class="elementor-element elementor-element-88d5f18 elementor-column elementor-col-50 elementor-inner-column" data-id="88d5f18" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-ffe05ab elementor-widget elementor-widget-text-editor" data-id="ffe05ab" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-text-editor elementor-clearfix">
                                    <f:for each="{children_208}" as="record">

                                        <f:format.raw>
                                            <core:contentEditable table="tt_content" field="bodytext" uid="{record.uid}">
                                                <f:format.raw>{record.bodytext}</f:format.raw>
                                                </core:contentEditable> 
                                        </f:format.raw>                                    
                                                                        
                                    </f:for>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-element elementor-element-3c7f9a7 elementor-column elementor-col-50 elementor-inner-column" data-id="3c7f9a7" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-69e7a8b elementor-widget elementor-widget-text-editor" data-id="69e7a8b" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-text-editor elementor-clearfix">
                                    <f:for each="{children_209}" as="record">

                                        <f:format.raw>
                                            <core:contentEditable table="tt_content" field="bodytext" uid="{record.uid}">
                                                <f:format.raw>{record.bodytext}</f:format.raw>
                                                </core:contentEditable> 
                                        </f:format.raw>                                   
                                                                        
                                    </f:for>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





