

<div data-elementor-type="wp-page" data-elementor-id="23" class="elementor elementor-23" data-elementor-settings="[]">
    <div class="elementor-inner">
        <div class="elementor-section-wrap">
<section class="elementor-element elementor-element-1b4b264 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="1b4b264" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}" style="width: 2031px; left: -496.094px;">
    <div class="elementor-container elementor-column-gap-wider">
        <div class="elementor-row">
            <div class="elementor-element elementor-element-e60dc21 elementor-column elementor-col-100 elementor-top-column" data-id="e60dc21" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-757f3a8 elementor-widget elementor-widget-text-editor" data-id="757f3a8" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-text-editor elementor-clearfix">
                                    <f:if condition="{data.tx_mask_title}">
                                        {data.tx_mask_title -> f:format.html()}
                                    </f:if>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-215aff4 elementor-widget elementor-widget-text-editor" data-id="215aff4" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-text-editor elementor-clearfix">
                                    <f:if condition="{data.tx_mask_description}">
    {data.tx_mask_description -> f:format.html()}
</f:if>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>