
<f:debug>ServiceMAsk</f:debug>

<section class="elementor-element elementor-element-304bc60 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="304bc60" data-element_type="section">

    <div class="elementor-container elementor-column-gap-wider">
        <div class="elementor-row">
            <div class="elementor-element elementor-element-3c0fec6 elementor-column elementor-col-50 elementor-top-column" data-id="3c0fec6" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-8f3e7fd elementor-widget elementor-widget-image" data-id="8f3e7fd" data-element_type="widget" data-widget_type="image.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-image">
                        
                           
                                    <f:image image="{data.tx_mask_image.0}" width="780" height="785" class="attachment-large size-large"alt=""/>
                              
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="elementor-element elementor-element-b2c7f04 elementor-column elementor-col-50 elementor-top-column" data-id="b2c7f04" data-element_type="column">
                <div class="elementor-column-wrap elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-df1f6ba elementor-widget elementor-widget-text-editor" data-id="df1f6ba" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-text-editor elementor-clearfix">
                                 <f:format.raw> {data.tx_mask_title}</f:format.raw>  
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-87805df elementor-widget elementor-widget-text-editor" data-id="87805df" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-text-editor elementor-clearfix">
                                    <f:format.raw>   {data.tx_mask_description}</f:format.raw>  
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-bea4a7a elementor-icon-list--layout-traditional elementor-widget elementor-widget-icon-list" data-id="bea4a7a" data-element_type="widget" data-widget_type="icon-list.default">
                            <div class="elementor-widget-container">
                                <ul class="elementor-icon-list-items">
                                   <f:for each="{data.tx_mask_list}" as="liItemInServicelist">
                                        <li class="elementor-icon-list-item">
                                            <span class="elementor-icon-list-icon"> <i aria-hidden="true" class="fas fa-check-circle"></i> </span><span class="elementor-icon-list-text"><f:format.raw>{liItemInServicelist.bodytext}</f:format.raw></span>
                                        </li>

                                
                                    
                                    </f:for>
                                </ul>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-3a05675 elementor-widget elementor-widget-button" data-id="3a05675" data-element_type="widget" data-widget_type="button.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-button-wrapper">
                                    <a href="about.html" class="elementor-button-link elementor-button elementor-size-md" role="button"> <span class="elementor-button-content-wrapper"> <span class="elementor-button-text">Learn more about</span> </span> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>