

<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"

xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
data-namespace-typo3-fluid="true"

>


                                            
                                            <f:for each="{elements}" as="element">
                                            <li class="portfolio-item isotope-item has-thumbnail" style="position: absolute; left: 0px; top: 0px;">
                                                <div class="portfolio-item-fw-bg">
                                                    <div class="portfolio-item-fill"></div>
                                                    <div class="list_style_header">
                                                        <h3 class="entry-title"><a class="link" href="portfolio-item.html">{element.data.header}</a></h3>
                                                        <div class="links_wrapper">
                                                            <a href="#" class="button button_js portfolio_prev_js"><span class="button_icon"><i class="icon-up-open"></i></span></a><a href="#" class="button button_js portfolio_next_js"><span class="button_icon"><i class="icon-down-open"></i></span></a>
                                                            <a href="portfolio-item.html" class="button button_left button_theme button_js kill_the_icon"><span class="button_icon"><i class="icon-link"></i></span><span class="button_label">Read more</span></a>
                                                        </div>
                                                    </div>
                                                    <div class="image_frame scale-with-grid">
                                                        <div class="image_wrapper">
                                                            <a href="portfolio-item.html">
                                                              
                                                              
                                                                
                                                             
                                                            
                                                                    
                                                                 
                                                                      
                                                                        <f:link.typolink parameter="5">
                                                                            <div class="mask"></div><f:image image="{element.files.0.originalFile}" width="780" height="437" class="scale-with-grid wp-post-image" alt=""/>
                                                                        </f:link.typolink>
                                                                  
                                                              
                                                          
                                                            <div class="image_links double">
                                                                <a href="images/agency4-portfolio-single6.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a><a href="portfolio-item.html" class="link"><i class="icon-link"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="desc">
                                                        <div class="title_wrapper">
                                                            <h5 class="entry-title"><a class="link" href="portfolio-item.html">
                                                                <core:contentEditable table="tx_heiner_domain_model_content" field="header" uid="{element.data.uid}">
                                                                <f:format.raw>{element.data.header}</f:format.raw>
                                                                </core:contentEditable></a></h5>
                                                            <div class="button-love">
                                                                <a href="#" class="mfn-love" data-id="303"><span class="icons-wrapper"><i class="icon-heart-empty-fa"></i><i class="icon-heart-fa"></i></span><span class="label">28</span></a>
                                                            </div>
                                                        </div>
                                                        <div class="details-wrapper">
                                                            <dl>
                                                                <dt>
Date
</dt>
                                                                <dd>
                                                                    June 4, 2020
                                                                </dd>
                                                            </dl>
                                                        </div>
                                                        <div class="desc-wrapper">
                                                            <core:contentEditable table="tx_heiner_domain_model_content" field="bodytext" uid="{element.data.uid}">
                                                                <f:format.raw>{element.data.bodytext}</f:format.raw>
                                                                </core:contentEditable>
                                                        
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            
                               
                                        </f:for>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</html>